<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Record</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/addRecord.css" />
  </head>
  <body>
    <div class="navbar">
      <div>
        <a href="http://localhost:3000/admin">Home</a>
        <a class="active" href="http://localhost:3000/add-record">Add Record</a>
        <a href="http://localhost:3000/view-record">View Record</a>
        <a href="http://localhost:3000/edit-record">Update Record</a>
        <a href="http://localhost:3000/set-bill">Bills</a>
        <a href="http://localhost:3000/">Logout</a>
      </div>
      <div class="admin-portal">Admin Portal</div>
    </div>
    <div class="content">
      <h2>Add Patient Record</h2>
      <p id=""></p>

      <form action="/submit_patient" method="post">
        <label class="label" for="name">Name</label>
        <input type="text" id="name" name="name" required />

        <label class="label" for="address">Account Address</label>
        <input type="text" id="address" name="address" required />

        <label class="label" for="age">Age</label>
        <input type="number" id="age" name="age" required />

        <label class="label" for="weight">Weight</label>
        <input type="text" id="weight" name="weight" />

        <label class="label" for="sex">Sex</label>
        <input type="text" id="sex" name="sex" />

        <label class="label" for="bloodgroup">Blood Group</label>
        <input type="text" id="bloodgroup" name="bloodgroup" />

        <label class="label" for="condition">Condition</label>
        <textarea id="condition" name="condition" rows="4" cols="50"></textarea>

        <label class="label" for="medication">Medication</label>
        <textarea
          id="medication"
          name="medication"
          rows="4"
          cols="50"
        ></textarea>

        <button id="submit-btn" type="submit">Add Patient</button>
      </form>
    </div>
  </body>
  <script src="scripts/addRecord.js" type="module"></script>
</html>
