<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/admin.css" />
  </head>
  <body>
    <a href="http://localhost:3000/add-record">
      <div class="card">
        <p>ADD RECORD</p>
      </div>
    </a>

    <a href="http://localhost:3000/view-record">
      <div class="card">
        <p>VIEW RECORD</p>
      </div>
    </a>

    <a href="http://localhost:3000/edit-record">
      <div class="card">
        <p>EDIT RECORD</p>
      </div>
    </a>

    <a href="http://localhost:3000/set-bill">
      <div class="card">
        <p>ADD BILL</p>
      </div>
    </a>

    <div class="navbar">
      <div>
        <a href="http://localhost:3000/">Logout</a>
      </div>
      <div class="admin-portal">Admin Portal</div>
    </div>
    <script src="scripts/admin.js" type="module"></script>
  </body>
</html>
